/******************************     FONTS     ******************************/
@import 'https://fonts.googleapis.com/css?family=Fascinate';
@import 'https://fonts.googleapis.com/css?family=Raleway';

/******************************     BODY     ******************************/
body {
    background-color:#E5E7E9;
    margin: 0 auto;
    width: 80%;
    clear: both;
    font-family: 'Raleway', sans-serif;
}

.clear {
	clear: both;
}

/******************************     HEADER & NAV BAR     ******************************/
#wwHeader {
    background-color:#E5E7E9;
    color:#283747;
    text-align: center;
    padding:0;
    margin: 0;
    border: 0;
    height: 6em;
}

.h1wwClass {
    font-size: 250%;
    font-family: 'Fascinate', cursive;
    padding:0;
    margin: 0;
    border: 0;
    height: 1em;
}

.headNav {
    position: fixed;
    width: 80%;
    top: 0;
    padding: 3% 0 0 0;
    margin: 0;
    border: 0;
    background-color: #E5E7E9;
}

ul.navHBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #1B2631; 
    background: -webkit-linear-gradient(left, #1B2631 , #FFF); 
    background: -o-linear-gradient(right, #1B2631, #FFF); 
    background: -moz-linear-gradient(right, #1B2631, #FFF);
    background: linear-gradient(to right, #1B2631 , #FFF); 
}

ul.navHBar li {float: left;}

ul.navHBar li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight:900;
}

ul.navHBar li a:hover:not(.active) {background-color: #BA4A00;}

ul.navHBar li a.active {background-color: #BA4A00;}

@media screen and (max-width: 600px){
   ul.navHBar li {float: none;}
}


/******************************     MAIN CONTENT     ******************************/
.mainContent {
    width:80%;
    margin: auto;
    margin-top: 9em;
    border: 3px solid green;
    padding: 0 0 0 0;
}

.divcontents {
    background-color:#FFF; 
    padding: 0 1% 1% 1%;
}

/******************************     IMAGES     ******************************/
.mainImages {
    width:100%;
    margin: auto;
    margin-top: 12.5em;
    padding: 0 0 0 8%;
}

div.img {
    border: 1px solid #ccc;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.imgDesc {
    padding: 15px;
    text-align: center;
    background-color: #FFF;
}

* {
    box-sizing: border-box;
}

.divImages {
    padding: 20px 20px 20px 20px;
    float: left;
    width: 30%;
}

@media only screen and (max-width: 700px){
    .divImages {
        width: 80%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .divImages {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/******************************     RECIPES     ******************************/
.mainRecipes {
    width:80%;
    margin: auto;
    margin-top: 13em;
    padding: 5px 5px 5px 5px;
}

.divRecipes img {
    float: left;
    margin: 0 10% 0 0;
}

.divRecipes {
    border: 1px solid #ddd;
    margin-bottom: 2em;
    background-color: #FFF;
}

.divRecipes ul {
    list-style-type: none;
    line-height: 2em;
}

.recipeheader {
    color: #BA4A00;
    font-size: 300%;
}

.divMethod {
    padding: 10px 10px 10px 10px;
}


/******************************     TABLES     ******************************/
.mainTables {
    width:100%;
    margin-top: 13em;
}

.indTables {
    margin-bottom: 2em;
}

.tableheader {
    text-align: left;
    font-size: 100%;
    color: #BA4A00;
    margin: 1% 0 0 0;
    padding: 0;
}


table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table,th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(odd){background-color: #D5D8DC}
tr:nth-child(even){background-color: #FFF}

th {
    background-color: #566573;
    color: white;
}

td:hover{background-color:#EDBB99}

/******************************     CONTACT     ******************************/
.mainContact {
    width:100%;
    margin-top: 12em;
}

input[type=text] {
    width: 20%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing:content-box;
    border: 2px solid lightgray;
    border-radius: 4px;
    
}

textarea {
    width: 70%;
    height: 10em;
    padding: 6px 10px 0 10px;
    margin: 1% 5% 1% 5%;
    box-sizing:content-box;
    border: 2px solid lightgray;        
    border-radius: 4px;               
    
}

#custForm input:focus, #custForm textarea:focus {
    background-color: #EDBB99;
}


/***     BUTTON     ***/
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #BA4A00;
  color: #FFFFFF;
  text-align: center;
  padding: 10px;
  width: 10em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0.5% 0 1.4% 5%;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
 transition: 0.5s;
}

.button span:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


/******************************     FOOTER     ******************************/
footer {
    background-color: #283747;
    color: #FFF;
    font-size: 120%;
    font-family: 'Fascinate', cursive;
    clear:both;
    text-align:center;
    padding:10px;	 	 
}